.adv {
    min-height: 473px;
    background-color: #F6F6F6;
    padding: 73px 0 65px 0;
    &__header {
        font-weight: bold;
        font-size: 30px;
        color: #0D0D0D;
        text-transform: uppercase;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 33%;
        margin-top: 60px;
        img {
            display: block;
            margin: 0 auto;
        }
        &_subheader {
            margin-top: 35px;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            color: #0D0D0D;
        }
        &_text {
            max-width: 277px;
            margin: 20px auto 0 auto;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
            a {
                color: $main-color;
                text-transform: uppercase;
            }
        }
    }
}