.button {
    width: 153px;
    height: 32px;
    border-radius: 8px;
    background-color: $main-color;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    border: none;
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 67px;
    }
}